@import '../../Components/GlobalStyles/colors.scss';

.login-block {
     background-color: rgba(4, 4, 4, 0.567);
     width: 100vw;
     height: 100vh;
     position: fixed;
     top: 0;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: 0.3s;
     z-index: 9;

     .overlay {
          height: 100vh;
          width: 100vw;
          position: fixed;
          top: 0;
          cursor: pointer;
     }

     .sign-up-form {
          background-color: rgb(255, 255, 255);
          height: 400px;
          width: 370px;
          border-radius: 10px;
          position: relative;
          background: rgba(255, 255, 255, 0.4);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.279);
          backdrop-filter: blur(13.5px);
          -webkit-backdrop-filter: blur(13.5px);
          border-radius: 10px;
          border: 1px solid rgba(255, 255, 255, 0.18);
          padding: 15px;
          z-index: 999;

          .title {
               font-size: 2rem;
               font-weight: 500;
               color: #fff;
               opacity: 90%;
          }

          .icon-close {
               font-size: 2.5rem;
               color: #fff;
               position: absolute;
               right: 9px;
               top: 9px;
               cursor: pointer;
               transition: 0.2s;

               &:hover {
                    color: $primary-green;
               }
          }

          .line-top {
               color: $primary-green;
               margin-bottom: 50px;
          }

          .input-block {
               position: relative;
               text-align: center;

               .label {
                    position: absolute;
                    top: 17px;
                    left: 35px;
                    transition: 0.2s;
                    cursor: text;
                    opacity: 70%;
               }

               .input {
                    width: 90%;
                    height: 40px;
                    border-radius: 20px;
                    border: none;
                    padding: 0 20px;
                    margin: 4px;

                    &:focus {
                         outline: none;
                    }

                    &:not(:placeholder-shown)~label {
                         transform: translateY(-25px);
                         font-size: 1rem;
                         color: #fff;
                    }

                    &:focus~.label {
                         transform: translateY(-25px);
                         font-size: 1rem;
                         color: #fff;
                    }
               }

               .icon-show,
               .icon-hide {
                    font-size: 2.5rem;
                    position: absolute;
                    top: 12px;
                    right: 27px;
                    cursor: pointer;

                    &.hide {
                         display: none;
                    }
               }

               .icon-hide {
                    right: 27.41px;
               }
          }

          .button-block {
               display: flex;
               flex-direction: column;
               align-items: center;
               gap: 20px;
               margin-top: 20px;

               .forget-password,
               .button-sign-up {
                    color: rgb(255, 255, 255);
                    text-decoration: none;
                    font-weight: 500;
                    opacity: 70%;
                    transition: 0.2s;

                    &:hover {
                         opacity: 100%;
                    }
               }

               .button-sign-up {
                    display: block;
                    border-top: 1px solid $primary-green;
                    width: 100%;
                    text-align: center;
                    padding-top: 20px;
               }

               .button-login {
                    border: none;
                    padding: 10px;
                    border-radius: 20px;
                    width: 50%;
                    background-color: $primary-green;
                    font-weight: 400;
                    transition: 0.2s;
                    cursor: pointer;

                    &:hover {
                         opacity: 80%;
                    }
               }
          }
     }
}